$song-gif-dimension: 2rem;

.playarea {
    height: 100%;
    display: flex;
    overflow-y: auto;

    &__songs {
        background: #eee;
        padding: 1rem;
        width: 55%;
        overflow-y: auto;
    }

    &__info {
        width: 45%;
        height: 100%;
        background: white;
        overflow-x: hidden;

        &__chart {
            width: 100%;
            height: 100%;
        }

        &__values {
            margin-top: 5rem;
            padding: 1rem;
            font-size: 1.5rem;

            & .table th, & .table td {
                text-align: center;
            } 
        }
    }
}

.song {
    display: flex;
    color: #333;
    padding: 1rem 0;
    margin: 1rem;
    font-size: 1.25rem;
    background: white;
    border: none;
    border: 2px solid transparent;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background: #555;
        border-radius: 5px;
        border: 2px solid white;
        transform: scale(1.02);
        padding: 1.1rem 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    &__no {
        width: 7%;
        display: flex;
        justify-content: flex-end;
    }

    &__name {
        white-space: nowrap;
        padding-left: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__gif {
        width: $song-gif-dimension;
        height: $song-gif-dimension;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;

        &--img {
            max-height: 100%;
        }
    }
}
